.App {
  text-align: center;
}

.label {
  margin-right: .5em;
  font-weight: bolder;
}

.numlist-container {
  font-size: initial; 
  color: #666;
}

.total-container .output {
  font-size: 200%;
}

table {
  width: 100%;
}

td {
  width: 50%;
  font-size: 150%;
  padding: 1em 0.2em;
  font-weight: bolder;
}

.button {
  border: 3px solid transparent;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.button:hover {
  border: 3px #888 solid;
}

td.red {
  background: #ff9b94;
}

td.red:active {
  background: #691f1a;
  color: #fff;
}

td.green {
  background: #97ff94;
}

td.green:active {
  background: #0e450c;
  color: #fff;
}

td.clear, td.removelast {
  background: #b30600;
  color: white;
}

td.clear:active, td.removelast:active {
  background: #4a0200;
  color: white;
}
