.App {
  text-align: center;
}

.header {
  position: sticky;
  background: white;
  top: 0;
  left: 0;
  z-index: 999;
}

.label {
  margin-right: .5em;
  font-weight: bolder;
}

.numlist-container {
  font-size: initial; 
  color: #666;
}

.total-container .output {
  font-size: 200%;
}

table {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 50%;
  font-size: 150%;
  padding: 0em 0.2em;
  height: 85px;
  font-weight: bolder;
}

.button {
  border: 3px solid transparent;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.button:hover {
  border: 3px #888 solid;
}

.button .value {
  color: #999;
  font-size: 65%;
}

td.number {
  background: #97ff94;
}

td.number:active {
  background: #0e450c;
  color: #fff;
}

td.clear, td.removelast {
  background: #ff9b94;
}

td.clear:active, td.removelast:active {
  background: #691f1a;
  color: #fff;
}

td.other {
  background: #ccc;
}

td.other label {
  font-size: 75%;
}

td.other input {
  width: 75px;
  margin-left: .5em;
}

td.other button {
  clear: left;
}
